beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
idna
joblib
msal
nltk
numpy
o365
pandas
pycparser
PyJWT
python-dateutil
python-dotenv
regex
requests
scikit-learn
scipy
six
soupsieve
threadpoolctl
tqdm
typing_extensions
tzdata
tzlocal
urllib3
